@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font: 1em Roboto, Helvetica, sans-serif;
  line-height: 1.4;
}

h4, h5 {
  font-weight: normal;
}

a {
  color: #000000;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:link, &:active, &:visited {
    color: #000000;
  }
}

ul {
  list-style-type: none;
}

.container {
  @include flex-col();
  min-height: 100%;
}

.header {
  @include flex-row();
  height: 260px;
  flex: 0 0 auto;
  margin-bottom: 1em;
}

.header__background {
  @include flex-col();
  position: absolute;
  color: #DBDDFB80;
  line-height: 120px;
  font-size: 8em;
  z-index: -1;
}

.header__content {
  @include flex-row();
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__text {
  @include flex-col();
  justify-content: space-around;
}

.header__greeting {
  @include flex-row();
}

.greeting {
  font-size: 2em;
}

.header__name {
  @include flex-row();
  margin-bottom: 15px;
}

.name {
  font-size: 2em;
  color: #686DCF;
}

.header__link {
  @include flex-row();
  justify-content: flex-end;
  width: 170px;
  background-image: url(./img/github_black.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
}

.link {}

.link-github {
  &:hover {
    text-decoration: underline;
  }
}

.header__avatar {
  @include flex-col();
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar__photo {
  justify-content: center;
  width: 150px;
  margin: -10% 0 0 0;
}

.main {
  @include flex-col();
  padding: 0 5%;
  flex: 1 0 auto;
}

.main__introduce {
  @include flex-row();
  flex: 1 0 auto;
  flex-wrap: wrap;
}

.main__short-information {
  @include flex-col();
  margin-bottom: 15px;
}

.short-information {}

.short-information__title {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.short-information__sentence {
  margin-bottom: 15px;
}

.main__nav {
  @include flex-col();
  width: max-content;
  margin-left: auto;
  margin-bottom: 180px;
  position: relative;
  flex: 0 0 auto;
}

.main__nav::before {
  position: absolute;
  content: '';
  background-image: url(./img/background_main.svg);
  width: 141px;
  height: 137px;
  z-index: -1;
  left: -100px;
}

.nav {}

.nav__title {
  @include flex-row();
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #33333366;
  letter-spacing: 1px;
}

.nav__chapters {
  @include flex-col();
  font-size: 1.2em;
}

.chapters {}

.chapters__item {
  @include flex-row();
  margin-bottom: 5px;
}

.progress-bar {
  @include flex-row();
  justify-content: flex-end;
  margin-bottom: 20px;
}

.progress-bar__no-active {
  width: 25px;
  height: 5px;
  background: #DBDDFB;
  border-radius: 8px;
}

.progress-bar__active {
  width: 25px;
  height: 5px;
  background: #686DCF;
  border-radius: 8px;
}

.progress-bar__no-active:not(:last-child), .progress-bar__active:not(:last-child) {
  margin-right: 5px;
}

.main__my-story {
  @include flex-col();
}

.my-story {}

.my-story__one-col {}

.my-story__title {
  font-size: 2em;
}

.font-weight-title {
  font-weight: 500;
}

.font-weight-text {
  font-weight: 700;
}

.my-story__introduce {
  font-size: 1.1em;
  margin-bottom: 120px;
}

.my-story__sentence {
  margin: 0.5em 0;
}

.my-story__two-col {}

.two-col__one {}

.line-through {
  text-decoration: line-through;
}

.my-story__subtitle {
  margin-bottom: 120px;
}

.subtitle-a-year-ago {}

.subtitle-a-year-ago__title {
  font-size: 2em;
}

.subtitle-a-year-ago__sentence {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.two-col__two {
  @include flex-col();
}

.subtitle-frontloops {}

.subtitle-frontloops__title {
  font-size: 2em;
}

.subtitle-frontloops__sentence {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.subtitle-frontloops__sentence-items {
  font-size: 1.1em;
}

.subtitle-hexlet {}

.subtitle-hexlet__title {
  font-size: 2em;
}

.subtitle-hexlet__sentence {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.font-italic {
  font-style: italic;
}

.subtitle-hexlet__link {
  @include flex-row();
  justify-content: space-between;
  width: 200px;
  padding: 5px 10px;
  color: #686DCF;
  background-color: #DBDDFB;
}

.link-hexlet {}

.link-hexlet__title {
  color: #686DCF;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }

}

.main_projects {
  @include flex-col();
}

.projects {}

.projects_title {
  font-size: 2em;
}

.projects_introduce {
  font-size: 1.1em;
  margin-bottom: 60px;
}

.projects_sentence {
  margin: 0.5em 0;
}

.projects_weather-app {
  @include flex-col();
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 50px;
}

.weather-app {}

.weather-app_screen {
  width: 370px;
  height: 185px;
  background-image: url(./img/weather_app.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.weather-app_link {
  @include flex-row();
}

.weather-app_github {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/github_white.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #FFFFFF;
  background-color: #333333;

  &:hover, &:link, &:active, &:visited {
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.weather-app_netlify {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/purple_link.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #686DCF;
  background-color: #DBDDFB;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.weather-app_description {
  @include flex-col();
  padding: 15px 10px;
}

.weather-app_title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.weather-app_short-information {
  color: #636363;
  margin-bottom: 10px;
}

.weather-app_subtitle {
  font-size: 0.9em;
  color: #9296EC;
}

.weather-app_tech-stack {
  color: #636363;
}

.projects_TTT-TDD {
  @include flex-col();
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 50px;
}

.TTT-TDD {}

.TTT-TDD_screen {
  width: 370px;
  height: 185px;
  background-image: url(./img/TTT_TTD.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.TTT-TDD_link {
  @include flex-row();
}

.TTT-TDD_github {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/github_white.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #FFFFFF;
  background-color: #333333;

  &:hover, &:link, &:active, &:visited {
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.TTT-TDD_netlify {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/purple_link.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #686DCF;
  background-color: #DBDDFB;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.TTT-TDD_description {
  @include flex-col();
  padding: 15px 10px;
}

.TTT-TDD_title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.TTT-TDD_short-information {
  color: #636363;
  margin-bottom: 10px;
}

.TTT-TDD_subtitle {
  font-size: 0.9em;
  color: #9296EC;
}

.TTT-TDD_tech-stack {
  color: #636363;
}

.projects_TTT-react {
  @include flex-col();
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 50px;
}

.TTT-react {}

.TTT-react_screen {
  width: 370px;
  height: 185px;
  background-image: url(./img/TTT_react.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.TTT-react_link {
  @include flex-row();
}

.TTT-react_github {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/github_white.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #FFFFFF;
  background-color: #333333;

  &:hover, &:link, &:active, &:visited {
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.TTT-react_netlify {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/purple_link.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #686DCF;
  background-color: #DBDDFB;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.TTT-react_description {
  @include flex-col();
  padding: 15px 10px;
}

.TTT-react_title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.TTT-react_short-information {
  color: #636363;
  margin-bottom: 10px;
}

.TTT-react_subtitle {
  font-size: 0.9em;
  color: #9296EC;
}

.TTT-react_tech-stack {
  color: #636363;
}

.projects_Staff-Monitoring {
  @include flex-col();
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 150px;
}

.Staff-Monitoring {}

.Staff-Monitoring_screen {
  width: 370px;
  height: 185px;
  background-image: url(./img/Staff_Monitoring.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Staff-Monitoring_link {
  @include flex-row();
}

.Staff-Monitoring_github {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/github_white.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #FFFFFF;
  background-color: #333333;

  &:hover, &:link, &:active, &:visited {
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.Staff-Monitoring_netlify {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/purple_link.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #686DCF;
  background-color: #DBDDFB;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.Staff-Monitoring_description {
  @include flex-col();
  padding: 15px 10px;
}

.Staff-Monitoring_title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.Staff-Monitoring_short-information {
  color: #636363;
  margin-bottom: 10px;
}

.Staff-Monitoring_subtitle {
  font-size: 0.9em;
  color: #9296EC;
}

.Staff-Monitoring_tech-stack {
  color: #636363;
}

.main_now {
  @include flex-col();
}

.now {}

.now_title {
  font-size: 2em;
}

.font-purple {
  color:#686DCF;
}

.now_introduce {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.now_sentence {
  margin: 0.5em 0;
}

.now_Housework-Todoer {
  @include flex-col();
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.Housework-Todoer {}

.Housework-Todoer_screen {
  width: 370px;
  height: 185px;
  background-image: url(./img/Staff_Monitoring.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Housework-Todoer_link {
  @include flex-row();
}

.Housework-Todoer_github {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/github_white.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #FFFFFF;
  background-color: #333333;

  &:hover, &:link, &:active, &:visited {
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.Housework-Todoer_netlify {
  @include flex-row();
  justify-content: flex-start;
  padding: 5px 0px 5px 15px;
  width: 50%;
  background-image: url(./img/purple_link.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
  color: #686DCF;
  background-color: #DBDDFB;

  &:hover, &:link, &:active, &:visited {
    color: #686DCF;
  }

  &:hover {
    text-decoration: underline;
  }
}

.Housework-Todoer_description {
  @include flex-col();
  padding: 15px 10px;
}

.Housework-Todoer_title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.Housework-Todoer_short-information {
  color: #636363;
  margin-bottom: 10px;
}

.Housework-Todoer_subtitle {
  font-size: 0.9em;
  color: #9296EC;
}

.Housework-Todoer_tech-stack {
  color: #636363;
}

.now_conclusion {
  margin: 0.5em 0 100px 0;
}

.now_subtitle {
  margin-bottom: 90px;
}

.subtitle-company {}

.subtitle-company_title {
  font-size: 2em;
}

.subtitle-company_sentence {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.main_contact {
 @include flex-col();
 margin-bottom: 80px;
}

.contact {}

.contact_title {
  font-size: 2em;
}

.contact_sentence {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.mr-10 {
  margin-right: 10px;
}

.contact_telegram {
  @include flex-row();
  padding: 5px;
  width: 120px;
  color: #686DCF;
  margin-bottom: 5px;
}

.contact_email {
  @include flex-row();
  padding: 5px;
  width: 210px;
  color: #686DCF;
}

@media screen and (min-width: 640px) {
  .header {
    justify-content: center;
  }

  .header__background {
    width: min-content;
  }

  .header__content {
    width: auto;
    position: relative;
    right: 5%;
  }

  .header__text {
    justify-content: flex-start;
    margin-right: 3em;
  }

  .main {
    padding: 0 15%;
  }

  .main__short-information {
    max-width: 50%;
  }

  .main__introduce {
    flex-wrap: nowrap;
    width: auto;
  }

  .my-story__one-col {
    width: 45%;
  }

  .my-story__two-col {
    @include flex-row();
    flex-wrap: nowrap;
  }

  .two-col__one {
    @include flex-col();
    margin-right: 5em;
  }
}
